body {
    background-color: rgb(94, 177, 255);
}

.image{
    border: 5px dotted rgb(107, 238, 183);
    border-radius: 15px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}